body{
    overflow-x: hidden;
}

.main{
    width: 100%;
    height: 100%;
}

.first-background{
    /* Rectangle 4 */
    position: absolute;
    width: 100%;
    height: 860px;
    top: 0px;
    right: 0px;
    display: flex;    
    background: linear-gradient(216.04deg, #27C0EF 13.84%, #00A8DB 83.53%);
}
.backCercle{
    /* Shape */
    width: 430px;
    height: 430px;

    position: absolute;
    left: 58%;
    top : 150px;

    background: linear-gradient(270deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 99.73%);
    mix-blend-mode: normal;
    opacity: 0.15;
    transform: rotate(90deg);
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.Header{
    display: flex;
    width: 100%;
    height: 14%;
}

.logo{
    
    align-self: center;
    position: absolute;
    left: 10%;

    width: 90px;
    height: 20px;
}

.Login{
    align-self: center;
    position: absolute;
    left: 83.2%;
    
    outline: none;
    width: 95px;
    height: 38px;
    border-radius: 4px;
    background: linear-gradient(216.04deg, #005490 0%, #328BCB 100%);
    
}

h2{

    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;

    color: #FFFFFF;
}

.Cercle{
    
    width: 60%;
    height: 60%;

    
    border-radius: 50%;
    background: linear-gradient(216.04deg, #27C0EF 13.84%, #00A8DB 83.53%);

}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    top: 13px;
  }

.SearchBar{
    display: flex;
    gap: 45px;

    align-self: center;
    position: absolute;
    left: 50%;
}

.Pages{
    display: flex;
    gap: 15px;
    flex-direction: row;
}

.Landing{
    display: flex;
    gap:  15px;;
    flex-direction: row;
}

.Wehelp{
    position: absolute;
    top: 240px;
    left: 10%;
    color: #FFFFFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 29px;
    font-weight: 500;
    letter-spacing: 0px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
h1{
    margin: 0px;
}
.Smile{
    position: absolute;
    left: 10%;
    top: 50.5%;
}

.Window{
    position: absolute;
    left: 42%;
    top: 130px;
}

.para{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    letter-spacing: 0.5px;
    left: 10%;
    top: 510px;
    color: #FFFFFF;
    font-family: 'DM Sans', sans-serif;
}
p{
    margin: 0px;
}

.BOX{
    width: 200px;
    height: 60px;
    border-radius: 4px;
    background-color: #FFFFFF;
    position: absolute;
    top: 610px;
    left: 10%;
    margin: 0px;
}
h3{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    position: absolute;
    top: 5px;
    left: 15%;
    color: #00A8DB;
    font-family: 'DM Sans', sans-serif;
}

.Getdemo{
    background-color: transparent;
    position: absolute;
    top: 610px;
    left: 25%;
    margin: 0px;
    width: 200px;
    height: 60px;
    display: flex;
}
.demo{
    color: #FFFFFF;
}

.logos{
    width: 80%;
    height: 30%;
    justify-self: center;
    align-self: center;
    position: absolute;
    top: 1000px;
    left: 10%;
}

.Thephone{
    width: 30%;
    height: 200px;
    position: absolute;
    top: 1150px; 
    left: 10%;
}

.sc2{
    display: flex;
    
}

.Measure{
    width: 40%;
    height: 40px;
    position: absolute;
    top: 1250px;
    left: 58%;
    color: #034D82;
    font-family: 'inter ', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.parag{
    width: 40%;
    height: 60px;

    position: absolute;
    top: 1390px;
    left: 58%;

    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #90A3B4;
    font-family: 'inter ', sans-serif;
    font-size: 16px;
}

.Learn{
    position: absolute;
    top: 1550px;
    left: 58%;

    width: 300px;
    height: 60px;

    font-family: 'inter ', sans-serif;
    font-size: 8px;
    color: #04AADD;
}